@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400");

* {
    box-sizing: border-box;
    font-family: "Ubuntu";
}
p{
    font-size: 17px;
}
.padding-100{
    padding:  100px 0;
}
html,
#root{
    height: 100%;
}
#root .main{
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}
.footer {
    grid-row-start: 2;
    grid-row-end: 3;
}
/*************HEADER**************/
header{
    margin: 0 !important;
    background-color: #558bb3 !important;
    color: #fff;
    border-radius: 0 !important;
}
header .container{
    align-items: center !important;
}
header img{
    width: 120px;
    height: 80px;
    margin-left: 15px;
}
header h3{
    display: inline-block;
    width: 100%;
    text-align: right;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.3;
    margin: 0;
    padding: 20px;
}
header h3 span{
    font-weight: bold;
    font-size: 30px;
}

/************QUOTE*******************/
.quote{
    min-height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote:before{
    content: '';
    display: block;
    position: absolute;
    top:  0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
blockquote{
    margin: 0 25px;
    position: relative;
    z-index: 10;
    color: #fff;
    max-width: 900px;
}
blockquote h2{
    margin: 0;;
    margin-bottom: 20px;
    font-size: 55px;
    line-height: 1.1;
    color: white;
    font-weight: 700;
    letter-spacing: -1px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}
blockquote p{
    text-align: right;
    color: #ccc;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    font-size: 22px;
    line-height: 30px;
    font-family: 'Droid Serif','Times New Roman','Times',serif;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 0;
}
.vote{
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    text-align: center;
}
.vote p{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
.vote i{
    color: #fff;
    font-size: 35px;
}
/****************FORM*******************/
.vote-form{
    padding: 100px 0;
    background: rgba(34,36,38,.1);
}
.vote-form h3{
    color: #558bb3;
    font-size: 26px;
    margin-bottom: 35px;
}
.vote-form label{
    color: #b17f08  !important;
    font-size: 16px !important;
    font-weight: normal !important;
}
.vote-form p{
    font-size: 18px;
    color: rgba(53, 53, 53, 0.87);
    line-height: 1.3;
}
.form-field{
    margin-bottom: 25px;
}
.vote-form img{
    display: block;
    width: 80px;
    margin: 25px auto;
}
.vote-form .field-15{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.vote-form .ui.button{

}
.vote-form .ui.buttons{
    width: 100%;
}

/*************************LIST CANDIDATES*********************/
.list-candidates{
    padding: 100px 0;
}
.welcome-message{
    color: #5a5656;
    margin: 40px 0;
}
.list-candidates h3{
    font-weight: normal;
    font-size: 24px;
    text-shadow: none;
    text-align: center;
    color: #558bb3;
}
.list-candidates h3 span{
    font-weight: bold;
}
.candidates-table h3{
    color: #5a5656;
    text-align: center;
}

/**********************GRAPH******************************/
.home-btn {
    padding-top: 30px;
    border-top: 1px solid #ccc;
}
h2 {
    text-align: center;
    margin-left: 40px;
}

.graph {
    position: relative;
    max-width: 1000px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto 80px auto;
}

.line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #dad9d9;
    left: 10%;
    z-index: -1;
}

.bar-text-content {
    height: 100%;
    width: 20%;
}
h1{
    text-align: center;
    color: #558bb3;
    text-transform: uppercase;
}


.text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgba(58, 56, 56, 0.87);
    margin-right: 19px;
}
.text h3{
    font-size: 16px;
}

.bar-lines-container {
    height: 100%;
    width: 80%;
    position: relative;
    background: #fbfbfb;
    z-index: -25;
    border: 1px solid #ccc;
}

.bar {
    position: relative;
    background: #f7bc0f;
    z-index: 25;
    border-bottom: 1px solid #a5673f;
    border-right: 1px solid #a5673f;
}

.bar-percent-0 {
    position: relative;
}

.bar-percent{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    color: #6d3511;
    font-size: 20px;
    margin-right: 10px;
}

.bar:last-child {
    border-bottom: none;
}

.bar:first-child{
    border-top: none;
}


.botton-info {
    width: 80%;
    position: relative;
    margin-top: 10px;
    margin-left: auto;
}

.botton-info > span {
    position: absolute;
    transform: translateX(-6px);
    font-weight: 300;
    font-size: 14.5px;
}


/****************FOOTER****************/
footer{
    padding: 30px;
    text-align: center;
    background-color: #222222;
    color: #d4d4d5;
    font-size: 12px;
    font-weight: normal;
}
footer p{
    margin: 0;
    font-size: 12px;
}


/*******************MEDIA QUARRIES*****************/
@media screen and (max-width: 768px) {
    .padding-100{
        padding:  50px 0;
    }
    .text h3{
        font-size: 13px;
    }
    .bar-percent{
        font-size: 12px;
    }
}


@media screen and (max-width: 640px) {
    header h3{
        font-size: 17px;
    }
    h3 span {
        font-size: 30px;
    }
    blockquote h2{
        font-size: 40px;
    }
    blockquote p{
        font-size: 18px;
    }
    .list-candidates .column{
        width: 100% !important;
    }
    .bar-text-content{
        width: 25%;
    }
    .bar-lines-container{
        width: 75%;
    }
}

@media screen and (max-width: 400px) {
    header h3{
        font-size: 15px;
    }
    h3 span {
        font-size: 25px;
    }
    blockquote h2{
        font-size: 30px;
    }
    blockquote p{
        font-size: 16px;
    }
    header h3{
        width: auto;
        margin: 0 25px;
        padding: 20px 0;
    }
}